@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  a.button-violet,
  button.button-violet {
    @apply block text-center w-full py-3 text-lg font-bold text-white transition rounded-lg bg-primary-300 border border-primary-300;
  }
  form:invalid button.button-violet,
  button.button-violet :disabled,
  button.button-violet :invalid {
    @apply bg-gray-100 border-0 cursor-default text-[#666666];
  }

  section.cta-section,
  footer.cta-section {
    @apply sticky bottom-0 flex flex-col items-center w-full gap-2 p-4 mt-auto bg-white;
  }

  hr.divider {
    @apply w-full h-2 border-none bg-gray-100;
  }
}

input.input-gray {
  @apply w-full p-2 text-lg text-[#666666] transition rounded-lg bg-gray-100 border border-gray-100;
}
