@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "SCoreDream";
  font-weight: 100;
  font-style: normal;
  src:
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream1.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream1.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream";
  font-weight: 200;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream2.woff)
    format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream";
  font-weight: 300;
  font-style: normal;
  src:
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream";
  font-weight: 400;
  font-style: normal;
  src:
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff)
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream";
  font-weight: 500;
  font-style: normal;
  src:
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff)
      format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 600;
  font-style: normal;
  src:
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff)
      format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 700;
  font-style: normal;
  src:
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff)
      format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 800;
  font-style: normal;
  src:
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream8.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream8.woff)
      format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 900;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff)
    format("woff");
  font-display: swap;
}

@layer components {
  a.button-violet,
  button.button-violet {
    @apply block text-center w-full py-3 text-lg font-bold text-white transition rounded-lg bg-[#c4aafe] border border-[#c4aafe];
  }
  form:invalid button.button-violet,
  button.button-violet :disabled,
  button.button-violet :invalid {
    @apply bg-gray-100 border-0 cursor-default text-[#666666];
  }

  section.cta-section,
  footer.cta-section {
    @apply sticky bottom-0 flex flex-col items-center w-full gap-2 p-4 mt-auto bg-white;
  }

  hr.divider {
    @apply w-full h-2 border-none bg-gray-100;
  }
}

input.input-gray {
  @apply w-full p-2 text-lg text-[#666666] transition rounded-lg bg-gray-100 border border-gray-100;
}
